<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <%- include('../partials/bootstrap-head.ejs'); %>
    <style>
      table th {background-color: #55efc4;}
    </style>
</head>

<body>
    <%- include('../partials/navbar.ejs') %><br>
    <h2 align="center">Your Coffee Selections</h2>
    <table class="table table-striped" style="width:85%;margin-top: 50px;" align="center">
        <tr>
          <th>#</th>
          <th>Menu</th> 
          <th>Price</th>
        </tr>
        <% for( let i = 0; i < menus.length; i++ ) { %>
            <tr>
                <td><%= menus[i].id %> </td>
                <td><%= menus[i].name %> </td>
                <td><%= menus[i].sellingPrice %> </td>
              </tr>
        <% } %>
      </table>

<%- include('../partials/bootstrap-script.ejs'); %>
</body>
</html>