<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Selection</title>
    <%- include('./partials/bootstrap-head.ejs'); %>
    <style>

        #coffee-selections{
            display:flex;
            flex-direction: row;
            justify-content: center;
        }

        #coffee-1 {
            width:30vw;
            margin: 10px;
            /* height:30vw */
            /* height:550px */
        }

        #coffee-2 {
            width:30vw;
            margin: 10px
            /* height:35vw */
            /* height:550px */
        }

        h2{
          font-family: Calibri;
          text-align: center;
        }

        label {
            font-size: 32px;
            display: block;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            width : 450px
        }
        .input-hidden {
            position: absolute;
            left: -9999px;
        }
        input[type=radio]:checked + label>img {
            border: 1px solid #fff;
            box-shadow: 0 0 3px 3px #55efc4;
        }

    </style>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <form method="POST" action="/order" align="center" style="margin-left: 35%;margin-right: 35%;">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Please choose your coffee!</label>
                <div id="coffee-selections">
                    <input type="radio" name="CoffeeId" id="americano" class="input-hidden" value="<%= menus[0].id %>"/>
                    <label for="americano">
                        <img src="assets/coffee-1-americano.jpg" alt="americano" id="coffee-1"/>
                    </label>
            
                    <input type="radio" name="CoffeeId" id="caffe-latte" class="input-hidden" value="<%= menus[1].id %>"/>
                    <label for="caffe-latte">
                        <img src="assets/coffee-2-caffe-latte.jpg" alt="caffe-latte" id="coffee-2"/>
                    </label>
                </div>               
            <button type="submit" class="btn btn-primary">ORDER NOW</button>
    </form>
            

    <%- include('./partials/bootstrap-script.ejs'); %>
</body>
</html>