<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Selection</title>
    <%- include('./partials/bootstrap-head.ejs'); %>
    <style>
        #menu-selection{
            display:flex;
            flex-direction: column;
        }

        h2{
          font-family: Calibri;
          text-align: center;
        }
    </style>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>

    <form method="POST" action="/order" align="center" style="margin-left: 35%;margin-right: 35%;">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Please choose your coffee</label>
            <select class="form-control" name="CoffeeId" id="CoffeeId">
                <% for( let i = 0; i < menus.length; i++ ) { %>
                    <option value="<%= menus[i].id %>"><%= menus[i].name %> </option>
                <% } %>

            </select>
          </div>
          <button type="submit" class="btn btn-primary">ORDER NOW</button>
      </form>
 

    <%- include('./partials/bootstrap-script.ejs'); %>
</body>
</html>