<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <%- include('../partials/bootstrap-head.ejs'); %>
    <style>

      table th {background-color: #55efc4;}

    </style>
</head>

<body>
    <%- include('../partials/navbar.ejs') %><br>
    <h2 align="center">Your Shop Inventory</h2>
    <table class="table table-striped" style="width:85%;margin-top: 50px;" align="center">
        <tr>
          <th>Espresso</th> 
          <th>Milk</th>
          <th>Ice</th>
          <th>Sugar</th>  
          <th>Cup</th>
        </tr>
        <tr>
            <td><%= inventories[0].dataValues.espresso %> </td>
            <td><%= inventories[0].dataValues.milk %> </td>
            <td><%= inventories[0].dataValues.ice %> </td>
            <td><%= inventories[0].dataValues.sugar %> </td>
            <td><%= inventories[0].dataValues.cup %> </td>
          </tr>
      </table>

<%- include('../partials/bootstrap-script.ejs'); %>
</body>

</html>