<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <%- include('../partials/bootstrap-head.ejs'); %>
    <style>

      table th {background-color: #55efc4;}
      #edit-button {
        background-color: #0984e3;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 3px;
      }
      #delete-button{
        background-color: #f44336;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 3px
      }
      #redeem-button{
        background-color: #2ecc71;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 3px
      }
    </style>
</head>

<body>
    <%- include('../partials/navbar.ejs') %><br>
    <h2 align="center">Your Customers List</h2>

    <table class="table table-striped" style="width:85%;margin-top: 50px;" align="center">
        <tr>
          <th>#</th>
          <th>Name</th> 
          <th>Free Cup</th>
          <th>Action</th>
        </tr>
        <% for( let i = 0; i < users.length; i++ ) { %>
            <tr>
                <td><%= users[i].id %> </td>
                <td><%= users[i].fullName %> </td>
                <td><%= users[i].purchaseToReward %> </td>
                <td>
                  <a href="/edit/<%= users[i].id %>" id="edit-button"> Edit  </a>
                  <a href="/delete/<%= users[i].id %>" id="delete-button"> Delete  </a>
                  <a href='/redeem/<%= users[i].id %>' id="redeem-button"> <%= users[i].purchaseToReward >= 10 ? "Redeem" : "" %> Redeem </a>

                </td>
              </tr>
        <% } %>
      </table>

<%- include('../partials/bootstrap-script.ejs'); %>
</body>

</html>