<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap-head.ejs'); %>
    <style>
        h2{
          font-family: Calibri;
          text-align: center;
        }

        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 80%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
    <h2>Today's Coffee Order</h2>

    <table align="center">
        <tr>
            <td>userId</td>
            <td>coffeeId</td>
            <td>Customer Name</td>
            <td>Order</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
        <% for(i = 0; i < coffeeUserData.length; i++) { %> 
        <tr>
            <td><%= coffeeUserData[i]["UserId"] %></td>
            <td><%= coffeeUserData[i]["CoffeeId"] %></td>
            <td><%= coffeeUserData[i]["order"] %></td>
            <td><%= coffeeUserData[i]["status"] %></td>
            <td><%= coffeeUserData[i]["price"] %></td>
            <td>
                <a href="/hackoffee/orderlist/delete/<%= coffeeUserData[i]["id"] %>" onclick="return confirm('Are you sure you want to delete this order?')">Delete order</a>
            </td>
        </tr>
      <% } %> 
    </table>
    <%- include('../partials/bootstrap-script.ejs'); %>
</body>
</html>
